---
import "../styles/global.css";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>
    <body>
        <main>
            <Header />
            <slot />
        </main>
        <style>
            main {
                margin: auto;
                max-width: 600px;
            }
        </style>
    </body>
</html>
